<% if(itemsImagePanels.length > 0){ %>
    <% itemsImagePanels.forEach((item, index)=>{ %> 
    <div class="hero-wrap" style="background-image: url('uploads/imageweb/<%= item.image %>');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
                <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                    <div class="text">
                        <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home</a></span>
                            <span>Contact</span></p>
                        <h1 class="mb-4 bread">Contact Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%})%>
<% }else{ %>
    <div class="hero-wrap" style="background-image: url('frontend/images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
                <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                    <div class="text">
                        <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home</a></span>
                            <span>Contact</span></p>
                        <h1 class="mb-4 bread">Contact Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>
 
<% include ../../helpers/formErrors %>
<section class="ftco-section contact-section bg-light">
    <div class="container">
         <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h3" style="text-align: center">Contact Information</h2>
            </div>      
        </div> 
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                    <%- formErrors(errors) %>  
                    <% include ../../elements/flash %>              
            </div>
        </div>
        <div class="row block-9">
            <div class="col-md-6 order-md-last d-flex">
                <form action="/contact/save" class="bg-white p-5 contact-form" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="yourname" value="<%-item.yourname %>" placeholder="Your Name" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="youremail" value="<%- item.youremail %>" placeholder="Your Email" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" value="<%- item.subject %>" placeholder="Subject" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <textarea cols="30" rows="7" name="message" class="form-control" placeholder="Message"><%- item.message %></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
            <div class="col-md-6 d-flex">
                <div id="map" class="bg-white"></div>
            </div>
        </div>
    </div>
</section>